:root {
    --bkg: #e3f1e8;
    --txt: #3a4b40;
    --hover: #86b1cb;
    --button: #8db49c;
    --diasbled: #9aaebb;
}

/* General */

body {
    background-color: var(--bkg);
    color:var(--txt);
    font-family: monospace;
    font-size: 18px;
    margin: auto;
    width: fit-content;
}

::selection {
    background-color: var(--hover);
}

/* Screen display */

#screen {
    margin-bottom: 8px;
}

#display, #result {
    align-content: center;
    height: 32px;
    padding: 0 8px;
    text-align: right;
}

#display {
    font-size: 20px;
}

#result {
    font-size: 24px;
    font-weight: bold;
}

/* Buttons */

button {
    background-color: var(--button);
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-size: inherit;
    height: 60px;
    width: 80px;
}

button:hover {
    background-color: var(--hover);
    cursor:pointer;
}

button#clear, button#undo {
    width: 50%;
}

button:disabled {
    background-color: var(--diasbled);
}

#buttons {
    display:flex;
    flex-direction: column;
    row-gap: 8px;
}

.row {
    column-gap: 8px;
    display: flex;
}