@import url(https://fonts.bunny.net/css?family=spline-sans-mono:300,400,500,600,700);

:root {
  --color-bkg: hsl(160, 45%, 90%);
  --color-text: hsl(160, 45%, 20%);
  --color-accent: hsl(160, 45%, 70%);
  --color-disabled: hsl(160, 15%, 70%);

  --size-gap: min(8px, 0.5rem);
  --size-col-width: minmax(min-content, calc(32px + 3rem));
  --size-calc-width: calc(
    4 * var(--size-col-width) + 5 * var(--size-gap) + 4px
  );
}

/* General */

body {
  background-color: var(--color-bkg);
  color: var(--color-text);
  font: 1.125rem "Spline Sans Mono", monospace;
  margin: auto;
  margin-bottom: calc(2rem + 3 * 16px);
  padding: 16px;
  max-width: max-content;
}

::selection {
  background-color: var(--color-accent);
}

h1 {
  font-weight: 600;
  margin-top: 0;
}

#calculator,
h1 {
  padding: 0;
  width: var(--size-calc-width);
}

footer {
  bottom: 0;
  background-color: var(--color-bkg);
  left: 0;
  padding: 16px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

/* Screen display */

#screen {
  margin-bottom: var(--size-gap);
}

#display,
#result {
  align-content: center;
  height: 2rem;
  padding: 0;
  overflow-x: scroll;
  text-align: right;
  width: 100%;
  white-space: nowrap;
}

#display {
  font-size: 1.25rem;
}

#result {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Buttons */

#buttons {
  display: grid;
  grid-auto-rows: calc(12px + 3rem);
  grid-template-columns: repeat(4, var(--size-col-width));
  gap: var(--size-gap);
}

button {
  background-color: inherit;
  border: 1px solid var(--color-accent);
  border-radius: var(--size-gap);
  color: inherit;
  cursor: pointer;
  font: inherit;
}

button#clear,
button#delete {
  grid-column: span 2;
}

button:hover {
  background-color: var(--color-accent);
}

button:active {
  background-color: var(--color-accent);
  border: 1px solid var(--color-text);
}

button:disabled {
  background-color: var(--color-disabled);
  border: 1px solid var(--color-disabled);
  cursor: not-allowed;
}
