:root {
    --bkg: #fffff3;
    --txt: #40493b;
    --button: #acc69e;
    --hover: #ffd589;
    --diasbled: #a4ae9e;
    --col-width: calc(36px + 3rem);
    --gap-size: min(8px, 0.5rem);
    --calc-width: calc(4 * var(--col-width) + 5 * var(--gap-size) + 2px)
}

/* General */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bkg);
    color: var(--txt);
    font-family: "PT Mono", monospace;
    font-size: 1.125rem;
    margin: auto;
    margin-bottom: 3rem;
    padding: 16px;
    max-width: fit-content;
}

::selection {
    background-color: var(--hover);
}

h1 {
    margin-top: 0;
}

#calculator, h1 {
    background-color: var(--bkg);
    border: 1px solid var(--button);
    border-radius: calc(2 * var(--gap-size));
    padding: var(--gap-size);
    width: var(--calc-width);
}

footer {
    bottom: 0;
    background-color: var(--bkg);
    border-top: 1px solid var(--button);
    left: 0;
    padding: var(--gap-size) 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

/* Screen display */

#screen {
    margin-bottom: var(--gap-size);
}

#display, #result {
    align-content: center;
    height: 2rem;
    padding: 0;
    overflow-x: scroll;
    text-align: right;
    width: 100%;
    white-space: nowrap;
}

#display {
    font-size: 1.25rem;
}

#result {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Buttons */

#buttons {
    display: grid;
    grid-template-columns: repeat(4, var(--col-width));
    gap: var(--gap-size);
}

button {
    background-color: var(--button);
    border: none;
    border-radius: var(--gap-size);
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    height: calc(28px + 2rem);
}

button#clear, button#delete {
    grid-column: span 2;
}

button:hover {
    background-color: var(--hover);
    cursor: pointer;
}

button:disabled {
    background-color: var(--diasbled);
}