@import url(https://fonts.bunny.net/css?family=spline-sans-mono:300,400,500,700);

:root {
    --bkg: hsl(34, 100%, 95%);
    --txt: hsl(154, 25%, 30%);
    --button: var(--txt);
    --accent: hsl(34, 100%, 70%);
    --diasbled: hsl(34, 25%, 70%);

    --gap-size: min(8px, 0.5rem);
    --col-width: minmax(min-content, calc(32px + 3rem));
    --calc-width: calc(4 * var(--col-width) + 5 * var(--gap-size) + 4px);
    --border: 2px solid var(--button)
}

/* General */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bkg);
    color: var(--txt);
    font-family: 'Spline Sans Mono', monospace;
    font-size: 1.125rem;
    margin: auto;
    margin-bottom: 3rem;
    padding: 16px;
    max-width: max-content;
}

::selection {
    background-color: var(--accent);
}

h1 {
    margin-top: 0;
}

#calculator, h1 {
    border: var(--border);
    border-radius: calc(2 * var(--gap-size));
    padding: var(--gap-size);
    width: var(--calc-width);
}

footer {
    bottom: 0;
    background-color: var(--bkg);
    left: 0;
    padding: var(--gap-size) 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

/* Screen display */

#screen {
    border-radius: var(--gap-size);
    margin-bottom: var(--gap-size);
    padding: 0 var(--gap-size);
}

#display, #result {
    align-content: center;
    height: 2rem;
    padding: 0;
    overflow-x: scroll;
    text-align: right;
    width: 100%;
    white-space: nowrap;
}

#display {
    font-size: 1.25rem;
}

#result {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Buttons */

#buttons {
    display: grid;
    grid-template-columns: repeat(4, var(--col-width));
    gap: var(--gap-size);
}

button {
    background-color: var(--button);
    border: var(--border);
    border-radius: var(--gap-size);
    color: var(--bkg);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    height: calc(28px + 2rem);
}

button#clear, button#delete {
    grid-column: span 2;
}

button:hover {
    background-color: var(--accent);
    color: inherit;
}

button:disabled {
    background-color: var(--diasbled);
    color: inherit;
    cursor: not-allowed;
}