:root {
    --bkg: #fffff3;
    --txt: #40493b;
    --button: #acc69e;
    --hover: #ffd589;
    --diasbled: #a4ae9e;
}

/* General */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bkg);
    color: var(--txt);
    font-family: "PT Mono", monospace;
    font-size: 1.125rem;
    margin: auto;
    margin-bottom: 2rem;
    padding: 16px;
    max-width: fit-content;
}

::selection {
    background-color: var(--hover);
}

h1 {
    margin-top: 0;
}

#calculator, h1 {
    background-color: var(--bkg);
    border: 1px solid var(--button);
    border-radius: 16px;
    padding: 8px;
}

footer {
    bottom: 0;
    background-color: var(--bkg);
    border-top: 1px solid var(--button);
    left: 0;
    padding: 8px 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

/* Screen display */

#screen {
    margin-bottom: 8px;
}

#display, #result {
    align-content: center;
    height: 2rem;
    max-width: 21.5rem;
    padding: 0;
    overflow-x: scroll;
    text-align: right;
    white-space: nowrap;
}

#display {
    font-size: 1.25rem;
}

#result {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Buttons */

#buttons {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.row {
    column-gap: 8px;
    display: flex;
}

button {
    background-color: var(--button);
    border: none;
    border-radius: 8px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    height: 60px;
    width: 5rem;
}

button#clear, button#delete {
    width: 50%;
}

button:hover {
    background-color: var(--hover);
    cursor: pointer;
}

button:disabled {
    background-color: var(--diasbled);
}